name: "Release a tag"
on:
  push:
    tags:
      - v*

jobs:

  build:
    name: Prepare Docker Image for deployment
    runs-on: ubuntu-latest
    env:
      APP_NAME: whoami

    steps:

      - name: Dockerhub login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - uses: actions/checkout@v3
      
      - name: Build the Docker image
        run: |
          echo "Tag with: ${{ github.ref_name }}"
          docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/${{ env.APP_NAME }}:${{ github.ref_name }}

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.APP_NAME }}:${{ github.ref_name }}


      
