name: "Release a tag"
on:
  push:
    tags:
      - v*

env:
    REPO_NAME: ${{ github.repository }}

jobs:

  build-push:
    name: Prepare Docker Image for deployment
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ${{ github.repository }}

    steps:

      - name: Check out the repo
        uses: actions/checkout@v4
      
      
      - name: Set APP Name
        id: vars
        run: echo "docker_name=$( echo ${{ env.REPO_NAME }} | cut -d '/' -f2)" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: |
            eset/${{ steps.vars.outputs.docker_name }}

      - name: Build and push Docker images
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      # - name: Dockerhub login
      #   uses: docker/login-action@v1
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}
      
      # - uses: actions/checkout@v3
      
      # - name: Build the Docker image
      #   run: |
      #     echo "Tag with: ${{ github.ref_name }}"
      #     docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/${{ env.APP_NAME }}:${{ github.ref_name }}

      # - name: Push Docker image
      #   run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.APP_NAME }}:${{ github.ref_name }}
  
  helm-app-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      actions: write
    name: Create PR with new AppVersion in Helm Repository 

    steps:

      - name: Checkout the Helm repo for ${{ env.REPO_NAME }}
        uses: actions/checkout@v4
        with:
          repository: electropolis/helm  # Specify the repository you want to checkout
          # token: ${{ secrets.GITHUB_TOKEN }}  # Required for private repositories

      - name: Set APP Name
        id: vars
        run: echo "app_name=$( echo ${{ env.REPO_NAME }} | cut -d '/' -f2)" >> $GITHUB_OUTPUT

      - name: Change current appVersion to ${{ github.ref_name }}
        run: |
          sed -i 's/^appVersion:.*$/appVersion: "${{ github.ref_name }}"/' ${{ steps.vars.outputs.app_name }}/Chart.yaml
        working-directory: ${{ github.workspace }}

      - name: Commit changes and push with tag
        run: |
          git config --global user.email "${{ steps.vars.outputs.app_name }}@github.com"
          git config --global user.name "${{ steps.vars.outputs.app_name }}"
          git checkout -b ${{ github.ref_name }}
          git add .
          git commit -m "Add new appVersion ${{ github.ref_name }}"
          git push origin ${{ github.ref_name }}      

